Lab. no. 4 
Data Science
Javier Alvarez
Elean Rivas

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score

# Read the data
df = pd.read_csv('train.csv')
df.head()

ModuleNotFoundError: No module named 'sklearn'

In [9]:
# Convertimos el texto a minúsculas
df['text'] = df['text'].str.lower()

df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,our deeds are the reason of this #earthquake m...,1
1,4,NaN,NaN,forest fire near la ronge sask. canada,1
2,5,NaN,NaN,all residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,just got sent this photo from ruby #alaska as ...,1

In [16]:
def remove_special_characters(text):
    # Eliminamos caracteres como #, @ y apóstrofes
    text = re.sub(r"[#@'/-]", "", text)
    return text

def remove_urls(text):
    # Regexp para detectar URLs
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

# Aplicamos la función a la columna de texto
df['text'] = df['text'].apply(remove_special_characters)
df['text'] = df['text'].apply(remove_urls)

df.head()

,keyword,location,text,target
31,ablaze,Birmingham,bbcmtd wholesale markets ablaze http:t.colhyxe...,1
32,ablaze,Est. September 2012 - Bristol,always try bring heavy. metal rt http:t.coyao1...,0
33,ablaze,AFRICA,africanbaze: breaking news:nigeria flag set ab...,1
34,ablaze,"Philadelphia, PA",crying more! set ablaze,0
35,ablaze,"London, UK",plus side look sky last night ablaze http:t.co...,0

In [15]:
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

# Función para eliminar stopwords
def remove_stopwords(text):
    words = text.split()
    filtered_words = [word for word in words if word not in stop_words]
    return ' '.join(filtered_words)

# Aplicamos la función a la columna de texto
df['text'] = df['text'].apply(remove_stopwords)
df.dropna(inplace=True)
df.drop("id", axis=1, inplace=True)

df.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\javie\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

KeyError: "['id'] not found in axis"

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, data['target'], test_size=0.2, random_state=42)

# Entrenamos un modelo de Regresión Logística
clf = LogisticRegression(max_iter=1000)
clf.fit(X_train, y_train)

# Realizamos predicciones en el conjunto de prueba
y_pred = clf.predict(X_test)

# Evaluamos el rendimiento del modelo
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

accuracy, report

NameError: name 'train_test_split' is not defined